.loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 50;
    background-color: rgb(48, 0, 48);
    @include flex(center,center);
    flex-direction: column;
    h5{
        color: #fff;
        font-weight: bolder;
        margin-top: 30px;
        @include flex(flex-end,flex-end);
        span{
            margin: 15px 0 0 3px;
        }
    }
    h6{
        color: #fff;
        @keyframes loading {
            from {opacity: 1;}
            to {opacity: 0;}
        }
        animation: loading 1s linear 0.5s infinite alternate;
    }
    &.finish{
        display: none;
    }
    &.close{
        display: none;
    }
}