.txt-file{
    position: absolute;
    width: 100wh;
    height: calc(100% - 60px);
    padding: 0 !important;
    z-index: 10;
    &_upper{
        position: relative;
        width: 100%;
        height: 5%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 15;
        @include flex(center,flex-end);
        &_alt{
            position: relative;
            width: 30px;
            height: 80%;
            @include flex(center,center);
            background-color: rgba(218, 165, 32, 0.8);
            margin: 0 5px;
            border-radius: 5px;
            transition: all .5s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: rgba(218, 165, 32, 1);
            }
            img{
                position: relative;
                width: 80%;
            }
        }
        &_close{
            position: relative;
            width: 30px;
            height: 80%;
            @include flex(center,center);
            background-color: rgba(255, 0, 0, 0.8);
            margin: 0 5px;
            border-radius: 5px;
            transition: all .5s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 0, 0, 1);
            }
            img{
                position: relative;
                width: 100%;
            }
        }
    }
    &_nav{
        position: relative;
        width: 100%;
        height: 20%;
        background-color: rgb(216, 216, 216);
        @include flex(center,center);
        &_control{
            margin: 10px;
            cursor: pointer;
            padding: 5px;
            border: 1px solid #000;
            border-radius: 5px;
            transition: all .5s ease-in-out;
            &:hover{
                background-color: #999;
            }
            &.active{
                background-color: #999;
            }
        }
    }
    &_content{
        position: relative;
        width: 100%;
        height: 75%;
        textarea{
            position: relative;
            resize: none;
            width: 100%;
            height: 100%;
            border: none;
            padding: 20px;
            font-size: 0.9em;
            &:focus{
                outline: none;
            }
            &.center{
                text-align: center;
            }
            &.left{
                text-align: left;
            }
            &.right{
                text-align: right;
            }
            &.justify{
                text-align: justify;
            }
        }
    }
}